<div class="stepper">
    <a href="/users">Home</a> |
    <a href="/users/{{userId}}">Profile</a> |
    <a href="/users/{{userId}}/stores">Stores</a> | {{store.name}}
</div>

<div class="store-header">
    <div>
        <h1>{{store.name}}</h1>
        <h3>{{store.address}}</h3>
        <h3>{{store.phoneNumber}}</h3>
        <h3><img src = {{store.photoUrl}}></h3>
    </div>
    
</div>

<div>
    <div class="gift-header">
        <h3>Ordered Food:</h3>
        <a class="button primary" href="/users/{{userId}}/stores/{{store._id}}/items/new">Add Ordered Food</a>
    <a class="button primary" href="/users/{{userId}}/stores/{{store._id}}/delete">Delete</a>
    </div>

    <div class="gifts">
        {{#each store.items}}
        <div class="gift">
            <a href="/users/{{../userId}}/stores/{{../store._id}}/items/{{this._id}}">
                {{this.name}}
            </a>
        </div>
        {{/each}}
    </div>

</div>