<div class="food container">


    <div class="stepper">
        <a href="/users">Home</a> |
        <a href="/users/{{userId}}">Profile</a> |
        <a href="/users/{{userId}}/stores">Stores</a> | {{store.name}}
    </div>

    <div class="store-header">
        <div>
            <h1>{{store.name}}</h1>
            <h3>{{store.address}}</h3>
            <h3>{{store.phoneNumber}}</h3>


            <img src={{store.photoUrl}}>

        </div>
        <div class="storePage">
            <div class="buttons">

                <a class="button primary" href="/users/{{userId}}/stores/{{store._id}}/items/new">Add Order</a>
                <br>
                <a class="button primary" href="/users/{{userId}}/stores/{{store._id}}/delete">Delete Store</a>
            </div>
            {{#each store.items}}

            <a href="/users/{{../userId}}/stores/{{../store._id}}/items/{{this._id}}">
                <div class="boxname">{{this.name}} </div>
            </a>
        </div>
        {{/each}}


    </div>

</div>
</div>
</div>