<div class="stepper">
  <a href="/users">Home</a> /
  <a href="/users/{{userId}}">Profile</a> /
  <a href="/users/{{userId}}/stores">Stores</a> /
  <a href="/users/{{userId}}/stores/{{store._id}}">{{store.name}}</a> / Food
</div>

<div class="user-container">
  <div>
    <img src="https://placehold.it/256/256" alt="placeholder">
  </div>
  <div class="user-info">
    <h1>{{item.name}}</h1>
    <div>Description: {{item.description}}</div>
    <div>Price: ${{item.price}}</div>
    <div>Ordered Time: {{time}}</div>
 
    <a class="button primary" href="/users/{{userId}}/stores/{{store._id}}/items/{{item._id}}/delete">Delete</a>
  </div>
</div>