<div class="food container">

    <div class="stepper">
        <a href="/users">Home</a> | Profile
    </div>
    <div class="user-container">
        <div>
            {{#if user.photoUrl}}
            <img src="{{user.photoUrl}}" alt="{{user.nickName}}'s profile photo"> {{else}}
            <img src="https://picsum.photos/200/300" alt="{{user.nickName}}'s profile photo"> {{/if}}
        </div>
        <br>

        <div class="user-info">

            <div class = "userInput">Nickname:

                <strong>{{user.nickName}}</strong>
                <br> Email:
                <strong>{{user.email}}</strong>
                <br>
                <br>
            </div>

            <div class="button-container">



                <div class="storePage">

                    <a href="/users/{{user._id}}/stores">
                    {{user.nickName}}'s Fav Restaurant(s)
                    </a>
                </div>
                <br>
                <br>
                <div class="button primary">
                    <a href="/users/{{user._id}}/edit">Update INFO</a>
                </div>

                <br>
                <div class="button primary">
                    <a href="/users/{{user._id}}/delete">Delete ME</a>
                </div>
            </div>
        </div>
    
</div>